<h1>Lista de Empleados</h1>
<div class="mb-3">
    <button class="btn btn-success" [routerLink]="['/empleado/nuevo']">Agregar Empleado</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Departamento</th>
            <th>Cargo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados">
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.departamento }}</td>
            <td>{{ empleado.cargo }}</td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/empleado/editar', empleado.id]">Editar</button>
                <button class="btn btn-danger" (click)="eliminarEmpleado(empleado.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
