<form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" type="text">
  
    <label for="apellido">Apellido:</label>
    <input id="apellido" formControlName="apellido" type="text">
  
    <label for="departamento">Departamento:</label>
    <select id="departamento" formControlName="departamento">
      <option *ngFor="let dept of departamentos" [value]="dept.codigo">{{ dept.nombre }}</option>
    </select>
  
    <label for="cargo">Cargo:</label>
    <input id="cargo" formControlName="cargo" type="text">
  
    <label for="fechaContratacion">Fecha de Contratación:</label>
    <input id="fechaContratacion" formControlName="fechaContratacion" type="date">
  
    <button type="submit">Guardar</button>
  </form>